@model WebApplication1.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Đăng Nhập";
}

<h1>@ViewData["Title"]</h1>
<form asp-action="Login" method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="text-danger">
        @Html.ValidationSummary(true)
    </div>
    <button type="submit">Đăng Nhập</button>
</form>
<a asp-action="Register">Đăng ký</a>
<br />
<a asp-action="ForgotPassword">Quên mật khẩu?</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



